.question {
	font-style: Arnoldboecklin, fantasy;
    color: #3868a9;
    font-size: 20px;
	
}

.index_pic_1 {
	/*background-image: url(/img/index_pic_1.png) no-repeat center top;*/
	margin-top: -10px;
	padding-top: 20px;
	text-align: centet;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: 100%;
}


.text_hight {
    position	: absolute;
	top		: 200px;
	color: red;
}

.text_samara {
    position	: absolute;
	top		: 200px;
	color: red;
}


li {
    display: inline;
}

ul {
	
	float: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: white;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #F5F5F5;
}