header {
	position: relative;
	
}

.brend {
	position: absolute;
	height: 10%;
	width: 10%;
	top: 20px;
	left: 250px;
	
}

.index_symbol_1 {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 70px;
	left: 360px;
}

.question {
	position: absolute;
	font-style: Arnoldboecklin, fantasy;
    color: #3868a9;
	top: 40px;
	left: 650px;
}

.number {
	position: absolute;
	top: 40px;
	left: 850px;
}

li {
    display: inline;
}

ul {
	position: absolute;
	left: 400px;
	top: 100px;
	float: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: white;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #F5F5F5;
}


.information {
position: static;
background: url(img/index_pic_1.png)

}

.index_pic_1 {
	/*background-image: url(/img/index_pic_1.png) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: centet;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: 100%;*/
	position: absolute;
	top: 150px;
	width: 97%;
	
	
}


.text_hight {
    position	: absolute;
	top		: 300px;
	left: 300px;
	color: white;
}

.text_samara {
    position	: absolute;
	top		: 350px;
	left: 300px;
	color: white;
}


/*.building {
	position: absolute;
	top: 550px;
	left:200;
	
	
	
	
}
*/

.building_1 {
	position: absolute;
	background-color: white;
	height: 200px;
	width: 200px;
	left:200;
	top: 550px;
}


.building_2 {
	position: absolute;
	background-color: white;
	height: 200px;
	width: 200px;
	left: 450px;
	top: 550px;
}

.building_3 {
	position: absolute;
	background-color: white;
	height: 200px;
	width: 200px;
	left: 700px;
	top: 550px;
}
